<section class="container">
  <h3 class="season-name">{{season.name}}</h3>
  <section class="flex-row justify-center">
    {{#each season.seasons as |season|}}
    {{> eachseason-details}}
    {{/each}}
  </section>
</section>

<form class="row g-3" method ="post" action ="/api/spots">
  <div class="col-md-6">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="col-md-6">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
  <div class="col-12">
    <label for="location" class="form-label">Location</label>
    <input type="text" class="form-control" id="location" placeholder="Location" name="location">
  </div>
  <div class="col-12">
    <label for="comments" class="form-label">Comments</label>
    <input type="text" class="form-control" id="comments" placeholder="Comments..." name="comments">
  </div>
  <div class="col-md-4">
    <label for="specie" class="form-label">Specie</label>
    <select id="specie" class="form-select">
      <option selected>Choose...</option>
      <option>Swordfish</option>
      <option>Tuna</option>
      <option>Salmon</option>
      <option>Trout</option>
      <option>Barracuda</option>
      <option>Guppy</option>

    </select>
  </div>
  
  <div class="col-12" style ="margin-bottom: 5px;">
    <button id ="post" type="submit" class="btn btn-primary" name="post" style="width:100px; font-weight: bold;">Post</button>
  </div>
</form>

<aside class="post-container">
  {{#each spotPost as |spots|}}
  <div class="card" style="width:600px;">
    <h5 class="card-header">{{this.title}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{this.description}}</h5>
      <p class="card-text" style="font-style:italic; font-weight:lighter;">{{this.comments}}</p>
      <p class="card-text" style="font-style:italic; font-weight:lighter;">{{this.location}}</p>
      
      <a href="#" class="btn btn-primary">Post Comments?</a>
    </div>
  </div>
  {{/each}}
  {{!-- <div class="card" style="width:600px;">
    <h5 class="card-header">{{spotPost.[1].title}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{spotPost.[1].description}}</h5>
      <p class="card-text">{{spotPost.[1].comments}}</p>
      <a href="#" class="btn btn-primary">Post comments?</a>
    </div>
  </div>
  <div class="card" style="width:600px;">
    <h5 class="card-header">{{spotPost.[2].title}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{spotPost.[2].description}}</h5>
      <p class="card-text">{{spotPost.[2].comments}}</p>
      <a href="#" class="btn btn-primary">Post Comments?</a>
    </div>
  </div>
  <div class="card" style="width:600px;">
    <h5 class="card-header">{{spotPost.[2].title}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{spotPost.[2].description}}</h5>
      <p class="card-text">{{spotPost.[2].comments}}</p>
      <a href="#" class="btn btn-primary">Post Comments?</a>
    </div>
  </div>
  <div class="card" style="width:600px;">
    <h5 class="card-header">{{spotPost.[2].title}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{spotPost.[2].description}}</h5>
      <p class="card-text">{{spotPost.[2].comments}}</p>
      <a href="#" class="btn btn-primary">Post Comments?</a>
    </div>
  </div>
   --}}
</aside>

<script src="/js/spotpost.js"></script>
